@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Origen</th>
      <th scope="col">Destino</th>
      <th scope="col">Fecha</th>
      <th scope="col">Hora</th>
      <th scope="col">Encomienda</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Jose Amado</td>
      <td>Oscar Fonseca</td>
      <td>28/08/2022</td>
      <td>08:00</td>
      <td>Camiseta</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Elisa Ojeda</td>
      <td>Ricardo Posada</td>
      <td>30/08/2022</td>
      <td>14:00</td>
      <td>Disco Duro</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Sandra Santamaria</td>
      <td>Oscar Fonseca</td>
      <td>05/09/2022</td>
      <td>10:00</td>
      <td>Destornilladores</td>
    </tr>
  </tbody>
</table>