@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Dirección</th>
      <th scope="col">Teléfono</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Jose</td>
      <td>Amado</td>
      <td>Cra 1 1 1</td>
      <td>3113173231</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Oscar</td>
      <td>Fonseca</td>
      <td>Cra 2 2 2</td>
      <td>3166524085</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Elisa</td>
      <td>Ojeda</td>
      <td>Cra 2 2 2</td>
      <td>3100000000</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Ricardo</td>
      <td>Posada</td>
      <td>Cra 2 2 2</td>
      <td>31500000000</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Sandra</td>
      <td>Santamaría</td>
      <td>Cra 2 2 2</td>
      <td>317000000000</td>
    </tr>
  </tbody>
</table>